.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
#img 
*.png
*.jpg
img/

# Built Visual Studio Code Extensions
password.txt

*.log

*.vsix